<?xml version="1.0"?>
<robot name="rmitbot" xmlns:xacro="http://www.ros.org/wiki/xacro"
  xmlns:gz="http://gazebosim.org/schema">

  <!-- ======================================= -->
  <link name="base_footprint" />
  <!-- ======================================= -->
  <joint name="base_joint_1" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
    <origin xyz="0 0 ${base_height/2}" rpy="0 0 0" />
  </joint>
  <!-- ======================================= -->
  <link name="base_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="${base_length} ${base_width} ${base_height}" />
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="${base_length} ${base_width} ${base_height}" />
      </geometry>
      <material name="red" />
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="${base_mass}" />
      <xacro:box_inertia m="${base_mass}" x="${base_length}" y="${base_width}" z="${base_height}" />
    </inertial>
  </link>
  <!-- =================To be modified====================== -->
  <joint name="base_joint_2" type="fixed">

  </joint>
  <!-- =================To be modified====================== -->
  <link name="base_link_2">

  </link>
  <!-- =================To be modified====================== -->
  <joint name="base_joint_3" type="fixed">

  </joint>
  <!-- =================To be modified====================== -->
  <link name="base_link_3">
    
  </link>

</robot>